*~
.DS_Store
.dbeaver
@dev
*.zip
CSVConcat.jar
HPC cluster logon.txt
Scripts/Script.sql
SwiPred9-bon3-part.jar
TODO.txt
bin
check.txt
debug-spbert.txt
full_pdb_nr_fasta.txt
pbert-ss-output.txt
results-ss-pbert-unp.txt
results.numbers
sp-bon9-out.txt
swipred_dataset.txt
values.txt
vkbat.jar
input
output
files/ignore

# Big files
src-py/dataset.zip
src-py/dataset/examples/*
*.pt
*.brnn
*.pdb
*.dssp
ss_dis.txt
files/fasta/uniprot/*
*.psq
*.phr
files/tools/*
*.pin
*.pkl
files/encode/*
files/esm/*
files/logs/*
files/matrices
files/nextflow
files/patches/*
files/regression/*
files/saved/*
files/tmp/*
files/vkbat/*
files/ss_dis.txt
# some of files
